%footer
  %hr/
  .row.well.no_margin_left

  .span3
    %h4 Information
    %ul
      %li
        %a{:href => "two-column.html"} About Us
      %li
        %a{:href => "typography.html"} Delivery Information
      %li
        %a{:href => "typography.html"} Privacy Policy
      %li
        %a{:href => "typography.html"} Terms &amp; Conditions
  .span3
    %h4 Customer Service
    %ul
      %li
        %a{:href => "two-column.html"} About Us
      %li
        %a{:href => "typography.html"} Delivery Information
      %li
        %a{:href => "typography.html"} Privacy Policy
      %li
        %a{:href => "typography.html"} Terms &amp; Conditions
  .span3
    %h4 Extras
    %ul
      %li
        %a{:href => "two-column.html"} About Us
      %li
        %a{:href => "typography.html"} Delivery Information
      %li
        %a{:href => "typography.html"} Privacy Policy
      %li
        %a{:href => "typography.html"} Terms &amp; Conditions
  .span2
    %h4 My Account
    %ul
      %li
        %a{:href => "two-column.html"} About Us
      %li
        %a{:href => "typography.html"} Delivery Information
      %li
        %a{:href => "typography.html"} Privacy Policy
      %li
        %a{:href => "typography.html"} Terms &amp; Conditions
