<div class="span9">
  <%= render :partial => 'spree/shared/carousel' %>
</div>

<div class="span7 popular_products">
  <%= render :partial => 'spree/shared/oferts_products' %>
</div>
<div class="span2">
  <div class="roe">
    <%= render :partial => 'spree/shared/newsletter' %>
  </div>
  <br /><br />
  <a href="#"><img alt="" title="" src="css/images/paypal_mc_visa_amex_disc_150x139.gif" /></a>
  <a href="#"><img alt="" src="css/images/bnr_nowAccepting_150x60.gif" /></a>

</div>
