<h4>Newsletter</h4><br />
		<p>Sign up for our weekly newsletter and stay up-to-date with the latest offers, and newest products.</p>

		    <form class="form-search">
    <input type="text" class="span2" placeholder="Enter your email" /><br /><br />
    <button type="submit" class="btn pull-right">Subscribe</button>
    </form>
